@import "tailwindcss";

body {
   background-color: #0d0d0d;
   color: white;
}

@font-face {
   font-family: "Lausanne";
   src: url("/fonts/Lausanne 300.woff2") format("woff2");
   font-weight: 300;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: "Lausanne-Bold";
   src: url("/fonts/Lausanne 500.woff2") format("woff2");
   font-weight: 500;
   font-style: normal;
   font-display: swap;
}

@theme {
   --font-lau: "Lausanne", sans-serif;
   --font-lau-bold: "Lausanne-Bold", sans-serif;
}

@layer utilities {
   .center-flex {
      @apply flex justify-center items-center;
   }

   .full-screen {
      @apply h-screen w-screen;
   }

   .full-screen-alt {
      @apply h-full w-full;
   }
}
